Repository cyf/cyf-server: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

build: add docker support
  Dockerfile
Due: none

ci: added test.yml
  .github/workflows/test.yml
Due: none

fix: update deps
  package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: update pnpm to 9.6.0
  package.json
Due: sort-package-json

fix: build error
  .gitignore
  package.json
  pnpm-lock.yaml
Due: sort-package-json

feat: add support for nest-i18n in socket.io
  package.json
  src/common/adapters/socket-io.adapter.ts
  src/common/constants/index.ts
  src/common/middlewares/socket-io.middleware.ts
  src/main.ts
  src/modules/socket-io/socket-io.gateway.ts
  tsconfig.json
  types/i18n.d.ts
  webpack-hmr.config.js
Due: prettier --write, sort-package-json

fix: update constants
  src/common/constants/index.ts
  src/common/guards/socket-io.guard.ts
  src/common/strategies/jwt.strategy.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/socket-io/socket-io.gateway.spec.ts
  src/modules/socket-io/socket-io.module.ts
Due: prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: sort-package-json

chore(deps): update deps
  package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: build error
  package.json
  pnpm-lock.yaml
Due: sort-package-json

chore(deps): update deps
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/common/guards/socket-io.throttler.guard.ts
Due: prettier --write, sort-package-json

chore(deps): update deps
  package.json
  pnpm-lock.yaml
  src/common/middlewares/socket-io.middleware.ts
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: *.{ts,js,mjs,cjs}
  sort-package-json: any of: package.json
